#container
	#nav.navbar
		%ul#navul
			%li#home.navsection 
				%a{:href => ""} Home
			%li#about.navsection 
				%a{:href => ""} About
			%li#signin.navsection 
				%a{:href => ""} Sign In
			%li#signup.navsection 
				%a{:href => ""} Sign Up
#container2